@using MvcLiteBlog.Extensions
@model List<Comment>
@{
    this.ViewBag.Title = "评论审核_[皮卡博客]";
    this.Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@section ScriptSection
{
    <script type="text/javascript">
        $(document).ready(
            function() {


                $('#SelectAll').click(
                    function() {

                        if ($('#SelectAll').attr('checked') == 'checked') {
                            $('input:checkbox[name=Select]').each(
                                function() {
                                    $(this).attr('checked', 'checked');
                                });
                        } else {
                            $('input:checkbox[name=Select]').each(
                                function() {
                                    $(this).removeAttr('checked');
                                });
                        }
                    });


                $('input:checkbox[name=Select]').click(
                    function() {
                        if ($(this).attr('checked') != 'checked') {
                            $('#SelectAll').removeAttr('checked');
                        } else {
                            if ($('input:checkbox[name=Select]').length == $('input:checkbox[name=Select]:checked').length) {
                                $('#SelectAll').attr('checked', 'checked');
                            }
                        }
                    });
            });

    </script>
}
<div id="main">
    <h1>评论审核</h1>
    @using (this.Html.BeginForm("Approve", "Comment"))
    {
        <div class="GridMargin leftButton">
            <input type="checkbox" id="SelectAll" title="全选" />
            <label for="SelectAll">
                全选</label>
            <input type="submit" name="Approve" value="通过" />
            <input type="submit" name="Reject" value="否决" />
        </div>
        <div class="success">
            @this.TempData["Message"]
        </div>

        var grid = new WebGrid(this.Model, canSort: false);

        if (this.Model.Count == 0)
        {
            <div class="info">没有评论需要审核。</div>
        }
        else
        {
            @grid.GetHtml(
                columns: grid.Columns(
                    grid.Column(string.Empty, "选择", (item) => this.Html.ValuedCheckBox("Select", (string)item.ID), "cmntIdStyle"), 
                    grid.Column("ID", "ID", null, "cmntIdStyle"), 
                    grid.Column("Name", "评论人", null, "cmntNameStyle"), 
                    grid.Column(string.Empty, "评论", (item) => this.Html.Raw(item.HighlightedCode), "cmntCommentStyle"), 
                    grid.Column("Ip", "来源IP", null, "cmntIpStyle")), 
                tableStyle: "GridContent", 
                headerStyle: "GridHeader", 
                rowStyle: "gridRowStyle", 
                alternatingRowStyle: "gridAltRowStyle")
        }
    }
</div>
