@model LiteBlog.Common.Page
@{
    ViewBag.Title = this.Model.Title + "_[皮卡博客]";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="post">
    <div>
        <h1>@this.Model.Title</h1>
    </div>
    <div class="postContent">
        @this.Html.Raw(this.Model.Body)
    </div>
</div>
