@model List<LiteBlog.Common.Page>
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="main">
    <h1>Manage pages</h1>
    <div>
        <div class="GridMargin leftButton">
            @this.Html.ActionLink("Compose Page", "Compose")
        </div>
        <div class="success">
            @(this.TempData["Message"] == null ? string.Empty : this.TempData["Message"].ToString())
        </div>
        @if (Model.Count > 0)
        {
            
            var grid = new WebGrid(this.Model, canSort: false);

            @grid.GetHtml(columns: grid.Columns(grid.Column(string.Empty, "Edit", (item) => this.Html.ActionLink("Edit", "Compose", new { id = item.FileId }), "pageLinkStyle"),
                                            grid.Column(string.Empty, "Delete", (item) => this.Html.ActionLink("Delete", "Delete", new { id = item.FileId }), "pageLinkStyle"),
                                            grid.Column("FileId", "Url", null, "pageUrlStyle"),
                                            grid.Column("Title", "Title", null, "pageTitleStyle")),
                                            tableStyle: "GridContent", headerStyle: "GridHeader", rowStyle: "gridRowStyle", alternatingRowStyle: "gridAltRowStyle")
        }
        else
        {
            <div>There are no pages to manage.</div>   
        }
    </div>
    <div style="clear: both;">
        &nbsp;
    </div>
</div>

