@model List<Category>

@{
    this.ViewBag.Title = "分类排序_[皮卡博客]";
    this.Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@section ScriptSection
{
    <script type="text/javascript">
        $(document).ready(
            function() {
                $('ul#ReorderList').sortable();

                $('input#ReorderBtn').click(
                    function() {
                        var order = '';
                        $('ul#ReorderList li').each(
                            function() {
                                order = order + $(this).attr('id') + ',';
                            });

                        $('#Order').val(order);
                    });
            });
    </script>

}


<div id="main">
    <h1>分类排序</h1>
    <div class="catForm">
        <fieldset>
            <legend>
                分类排序
            </legend>
    
            <div>拖拽列表中的项目进行排序。</div>

            <ul id="ReorderList">
                @foreach (Category cat in this.Model)
                {
                    <li id="@cat.CatID">@cat.Name</li>
                }
            </ul>
            @using (this.Html.BeginForm("Reorder"))
            {
                <span>@this.Html.Hidden("Order")</span>
                <div class="GridMargin leftButton">
                    <input id="ReorderBtn" type="submit" value="Submit Order" />
                </div>
            }

        </fieldset>
    </div>
    <div>
        @this.Html.ActionLink("返回“分类管理”", "Manage")
    </div>
</div>