<div class="widget">
    <div class="widgetTitle">
        Donate!
    </div>
    <div style="margin: 5px auto; padding-bottom: 15px; text-align: center;">
        <script type="text/javascript"><!--
            google_ad_client = "ca-pub-9120781401397419";
            /* Tile Ad */
            google_ad_slot = "0606616694";
            google_ad_width = 200;
            google_ad_height = 200;
        //-->
        </script>
        <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
</div>
