@model List<Document>

<table id="attachments">
    @foreach (Document doc in this.Model)
    {
        <tr>
            <td>@doc.Path</td>
            <td style="width: 80px; text-align: center;"><a class="deleteAttachment" href="">删除</a></td>
        </tr>
    }
</table>

