@if (this.Request.IsAuthenticated)
{
    <span>Welcome <b>@this.Page.User.Identity.Name</b>!
        [ @this.Html.ActionLink("Log Off", "LogOff", "Account") ]</span>
}
else
{
    <span>[ @this.Html.ActionLink("Log On", "LogOn", "Account") ]</span>
}
