/* Generic page styles */
body
{
    background-color: #fff;
    margin: 0px;
    font-family: 'Microsoft YaHei', 'Segoe UI', 'Lucida Grande',Verdana;
    font-size: 1em;
}

table
{
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}

tr
{
    padding: 0px;
    margin: 0px;
}

td
{
    padding: 0px;
    margin: 0px;
}

a, a:visited, a:hover
{
    color: #0000ff;
    text-decoration: underline;
}

div
{
    font-size: 1em;
}

/* End Generic page styles */

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* End Style for validation helpers */


/* Master page styles */

div.page
{
    width: 100%;
    min-width: 960px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: left;
}

#header
{
    background-color: #009E49;
    color: #fff;
    font-family: 'Segoe UI', Segoe, Futura, Helvetica;
}

#headerTitle
{
    float: left;
    margin: 0 0 0 50px;
    font-size: 2.5em;
    padding-top: 8px;
    padding-bottom: 12px;
}

#headerMenu
{
    float: right;
    margin: 0 20px 0 0;
    font-size: 1.5em;
    padding-top: 18px;
    padding-bottom: 20px;
}

    #headerMenu ul
    {
        margin: 0px;
    }

        #headerMenu ul li
        {
            list-style: none;
            display: inline;
            padding: 0 10px 0 10px;
        }

    #headerMenu a:link, #headerMenu a:visited
    {
        color: #fff;
        text-decoration: none;
    }

    #headerMenu a:hover
    {
        color: dodgerblue;
    }

#headerStrip
{
    background-color: darkgray;
    clear: both;
    text-align: right;
    padding: 0 20px;
    font-size: 1.4em;
    line-height: 2em;
}


    #headerStrip a:link, #headerStrip a:visited
    {
        font-family: 'Segoe UI', 'Lucida Grande',Verdana;
        font-size: .9em;
        color: #fff;
        text-decoration: none; /* background-color: #ccffcc; */
    }

    #headerStrip a:hover
    {
        color: dodgerblue;
        text-decoration: underline;
    }



#middle
{
    padding: 0;
    background-color: lightgray;
}

#left
{
    padding: 0 8px;
    float: left;
    width: 20%;
}

#center
{
    background-color: #fff;
    width: 78%;
    float: left;
    min-height: 609px;
    margin: 0;
    padding: 0;
}

#main
{
    vertical-align: top;
    width: 90%;
    margin: 20px auto;
    font-family: Arial;
    font-size: 1em;
}

#footer
{
    clear: both;
    display: block;
    color: #fff;
    padding: 6px;
    text-align: right;
    font-family: Segoe UI, Verdana;
    font-size: 1em;
    background-color: #009E49;
}

h1, .title
{
    font-family: 'Segoe UI', Segoe, Helvetica;
    word-wrap: normal;
    font-size: 2em;
    line-height: 110%;
    font-weight: normal;
    word-spacing: 2px;
    color: #2778ec;
    padding-bottom: 4px;
    margin-bottom: 12px;
}

/* End Master page styles*/

/* Common styles across admin pages */

.blue
{
    color: Blue;
}

fieldset
{
    border: 2px solid #009E49;
    margin: 5px;
}

legend
{
    font-family: 'Segoe UI', Segoe, Futura, Helvetica;
    font-size: 1.2em;
    font-weight: normal;
    color: #2778ec;
}

fieldset > div
{
    padding: 3px 15px;
}

.textBox, input[type=text], input[type=file], input[type=password]
{
    font-family: Verdana;
    font-size: 1.1em;
    border: 2px solid #999;
    border-radius: 6px;
    padding: 4px;
}

    input[type=text]:focus, input[type=file]:focus, input[type=password]:focus
    {
        border: 2px solid #99f;
    }

.TextBox
{
    font-family: Verdana;
    font-size: 1.1em;
    border: 2px solid #999;
}

.ReadOnlyTextBox
{
    font-family: Verdana;
    font-size: 1.1em;
    border: 2px solid #999;
    background-color: #ccc;
}


select
{
    font-family: Verdana;
    font-size: 1.1em;
    border: 2px solid #999;
    border-radius: 6px;
    padding: 4px;
}

div.success
{
    color: Navy;
    text-align: center;
}


div.error
{
    color: Red;
    text-align: center;
    font-size: .9em;
}

div.info
{
    color: Navy;
    margin: 10px 30px;
}

table.GridContent
{
    font-family: 'Segoe UI', 'Lucida Grande',Verdana;
    font-size: 1em;
    word-spacing: 2px;
    border: 2px solid #009E49;
    margin: 20px 0px;
}


.GridHeader
{
    background-color: #009E49;
    border-bottom: 2px solid #44bb44;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
    color: white;
}

table.GridContent tbody tr td
{
    padding: 1px 5px;
    overflow: hidden;
}

table.GridContent tfoot
{
    text-align: center;
    border-top: 2px solid #44bb44;
}

.gridRowStyle
{
    background-color: #fff;
    height: 2em;
}

.gridAltRowStyle
{
    background-color: lightgreen;
    height: 2em;
}

table.GridContent tfoot a:link, table.GridContent tfoot a:visited, table.GridContent tfoot a:hover
{
    text-decoration: none;
}


.GridMargin
{
    margin: 5px 0px;
}



div.button
{
    text-align: center;
    padding: 8px 8px;
}

div.leftButton
{
    text-align: left;
    padding: 8px 8px;
}

div.button > a:link, div.button > a:hover, div.button > a:visited
{
    color: White;
}

div.leftButton > a:link, div.leftButton > a:hover, div.leftButton > a:visited
{
    color: White;
}



/* End common styles */



/* Menu control styles */

div#menu
{
    margin: 8px 0px 8px 0px;
    padding: 0px;
}

div.menuContainer
{
    width: 284px;
    margin: 8px 0px 8px 0px;
    padding: 0px;
    height: auto;
    background-color: #009E49;
}

div.menuHeader
{
    font-family: Segoe UI, Segoe, Arial;
    font-size: 1.3em;
    color: white;
    text-align: right;
    padding: 5px 10px;
}

ul.menu
{
    font-family: Segoe UI, Segoe, Arial;
    font-size: 1em;
    color: white;
    padding: 4px 0 8px 0;
    margin: 0px;
    text-align: left;
}

    ul.menu li
    {
        margin: 0px;
        padding: 0px 10px 4px;
        list-style: none;
        display: block; /* width: 100px; */
        text-align: left;
    }


        ul.menu li a
        {
            padding: 0;
            text-decoration: none;
            color: #fff;
        }

            ul.menu li a:hover
            {
                text-decoration: none;
                color: lawngreen;
            }



/* End menu control styles */

/* Login styles */


div.loginForm
{
    margin: 10px 10px;
    width: 740px;
}

    div.loginForm fieldset > div div
    {
        padding: 3px 0px;
    }

div.pwdForm
{
    margin: 10px 10px;
    width: 740px;
}

    div.pwdForm fieldset > div div
    {
        padding: 3px 0px;
    }

.ChgPwdLink
{
    font-size: .7em;
}

/* End Login styles */

/* Other form styles */

.appForm
{
    margin: 10px 10px;
    width: 740px;
}

.authorForm
{
    margin: 10px 10px;
    width: 740px;
}

    .authorForm input[type=text]
    {
        width: 280px;
    }

.catForm
{
    margin: 10px 10px;
    width: 740px;
}

    .catForm input[type=text]
    {
        width: 240px;
    }

.reorderForm
{
    margin: 10px 30px;
    width: 300px;
}

.ReorderContent
{
    width: 260px;
}

    .ReorderContent ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .ReorderContent ul li
        {
            background: #ccc;
            margin: 2px 0;
            padding: 0px 5px;
            line-height: 1.5em;
            font-size: 1em;
        }

/* End form styles */

/* Compose */

/*
#compose
{
    vertical-align: top;
    width: 780px;
    margin: 10px 10px;
    background-color: #fff;
    font-family: Arial;
    font-size: 1em;
}
*/

.leftCompose
{
    padding: 0;
    margin: 0;
    float: left;
    width: 70%;
}

.rightCompose
{
    padding: 0;
    margin: 0;
    float: right;
    width: 30%;
}

    .leftCompose > div, .rightCompose > div
    {
        padding: 5px 10px;
    }

.page-compose
{
    padding: 0;
    margin: 0;
}

    .page-compose > div
    {
        padding: 5px 10px;
    }

.CatList
{
    width: 80%;
    height: 140px;
    border: 2px solid #ccc;
}

.ComposeGrid
{
    font-family: 'Segoe UI', 'Lucida Grande',Verdana;
    font-size: 1em;
    word-spacing: 2px;
    border: 2px solid #999;
    margin: 0px 0px;
}

.ComposeGridHeader
{
    background-color: #ccc;
    border-bottom: 2px solid #999;
}

.cke_button_addCodeDialogCmd .cke_icon
{
    display: none !important;
}

.cke_button_addCodeDialogCmd .cke_label
{
    display: inline !important;
    font-weight: bold;
}

/* End Compose */

/* Post Control Styles */

div.post
{
    width: 760px;
    font-family: 'Segoe UI', 'Lucida Grande',Verdana;
    font-size: 1em;
    word-spacing: 2px;
    line-height: 130%;
    padding: 5px 10px;
}

    div.post a, div.post a:visited
    {
        text-decoration: underline;
        color: #00f;
    }

        div.post a:hover
        {
            color: #f00;
        }

div.postContent
{
    font-size: 1em;
    padding: 5px 0px;
}



pre.code
{
    font-family: Consolas, Courier New;
    font-size: .8em;
    width: 700px;
    margin: 0;
    padding: 5px 10px;
    background-color: #eeeeee;
    overflow: hidden;
}

pre.commentCode
{
    font-family: Consolas, Courier New;
    font-size: .8em;
    margin: 0;
    padding: 5px 10px;
    overflow: hidden;
}

.postMeta
{
    color: #f00;
    padding-bottom: 5px;
}

/* End Post Control Styles */


div.tabContent
{
    border: 2px solid #44bb44;
    clear: both;
    padding: 5px;
    background-color: #fff;
    color: #000;
}

    div.tabContent a, div.tabContent a:hover, div.tabContent a:visited
    {
        color: #00f;
    }

/* WebGrid styles - Begin */

.pageLinkStyle
{
    width: 10%;
}

.pageUrlStyle
{
    width: 30%;
}

.pageTitleStyle
{
    width: 40%;
}

.postLinkStyle
{
    width: 8%;
}

.postDateStyle
{
    width: 20%;
}

.postTitleStyle
{
    width: 32%;
}

.postCatStyle
{
    width: 20%;
}

.draftLinkStyle
{
    width: 8%;
}

.draftDateStyle
{
    width: 20%;
}

.draftTitleStyle
{
    width: 32%;
}

.cmntIdStyle
{
    width: 8%;
}

.cmntNameStyle
{
    width: 15%;
}

.cmntCommentStyle
{
    width: 35%;
}

.cmntCommentStyle2
{
    width: 35%;
}

.cmntIpStyle
{
    width: 15%;
}

.catLinkStyle
{
    width: 8%;
}

.catIdStyle
{
    width: 20%;
}

.catNameStyle
{
    width: 25%;
}

.authLinkStyle
{
    width: 8%;
}

.authIdStyle
{
    width: 20%;
}

.authNameStyle
{
    width: 25%;
}

.authEmailStyle
{
    width: 25%;
}


/* WebGrid styles - End */
