/* Generic page styles */
body
{
    margin: 0;
    background-color:#fff;
}

table
{
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}

tr
{
    padding: 0px;
    margin: 0px;
}

td
{
    padding: 0px;
    margin: 0px;
}

a:link, a:visited, a:hover
{
    color: #0000ff;
    text-decoration: underline;
}

div
{
    font-size: 1em;
}


fieldset
{
    border: none;
    margin: 5px;
}

legend
{
    font-family: 'Microsoft YaHei', 'Segoe UI', Segoe, Futura, Helvetica;
    font-size: 1.2em;
    font-weight: normal;
    color: #333;
}

/* End Generic page styles */

/* Master page styles */

div.page
{
    width: 100%;
    min-width: 960px;
    margin: 0;
    padding: 0;
    background-image:url(/Content/le-frog/images/bg.png);
    background-repeat:repeat;
    text-align: left;
}

#header
{
    background-color: #245a5c;
    color: #666;
    font-family: 'Microsoft YaHei', 'Segoe UI', Segoe, Futura, Helvetica;
}

#headerTitle
{
    float: left;
    margin: 0 0 0 20px;
    height:120px;
    width:392px;
    background-repeat:no-repeat;
}

#slogan
{
    float: right;
    margin: 0 60px 0 0;
    font-size: 2em;
    padding-top: 42px;
    padding-bottom: 29px;
}

#headerMenu
{
    float: right;
    margin: 0 40px 0 0;
    font-size: 2em;
    padding-top: 40px;
    padding-bottom: 39px;
}

    #headerMenu ul
    {
        margin: 0px;
    }

        #headerMenu ul li
        {
            list-style: none;
            display: inline;
            padding: 0 10px 0 10px;
        }

    #headerMenu a:link, #headerMenu a:visited
    {
        color: #e8a27c;
        text-decoration: none;
    }

    #headerMenu a:hover
    {
        color: #fffca8;
        background-color: #245a5c;
    }

#headerStrip
{
    border-top:1px dashed #fffca8;
    clear: both;
    height:2px;
}

#middle
{
    margin: 0;
    padding: 0 40px 0 40px;
}



#left
{
    width: 25%;
    vertical-align: top;
    float: left;
    margin: 0;
    padding-top: 30px;
    
}

#right
{
    width: 25%;
    vertical-align: top;
    float: right;
    margin: 0;
    padding-top: 30px;
}

#main
{
    vertical-align: top;
    float: right;
    margin: 0;
    padding: 0;
}

#center
{
    vertical-align: top;
    width: 70%;
    float: left;
    margin: 0;
}

#footer
{
    display: block;
    color: #333;
    padding: 6px;
    text-align: right;
    font-family: 'Microsoft YaHei', Segoe UI, Verdana;
    font-size: 1em;
}

/* End Master page styles*/

/* Widget styles */

div.widget
{
    font-family: 'Microsoft YaHei', Segoe UI, Segoe, Arial;
    font-size: .9em;
    line-height: 110%;
    color: #333;
    margin: 8px;
    border-bottom:1px dashed #bbb;
}

    div.widget a:link, div.widget a:visited
    {
        color: #245a5c;
        text-decoration: none;
    }

    div.widget a:Hover
    {
        color: #fff;
        background-color: #245a5c;
        text-decoration: none;
    }

div.widgetTitle
{
    font-size: 1.4em;
    color: #333;
    text-align: left;
    padding: 8px;
}


ul.widgetList
{
    padding: 8px 0 14px 10px;
    margin: 0px;
}

    ul.widgetList li
    {
        list-style: none;
        margin: 0px;
        padding: 0px;
        line-height: 130%;
    }



#popular
{
    /*height: 120px;*/
}

#recentComments
{
    /*height: 120px;*/
}

.widgetBottom
{
    text-align: right;
    padding: 5px;
    font-size: 1.1em;
}



/* End Widget styles */


/* Post Control Styles */

div.post
{
    font-family: 'Microsoft YaHei', 'Segoe UI','Lucida Grande',Verdana;
    font-size: 1em;
    padding: 10px 0 20px 0;
    width: 100%;
    margin-top:20px;
    border-bottom: 1px dashed #bbb;
}

    div.post h1 {
        display:inline;
        margin-left:10px;
    }
    div.post a, div.post a:visited
    {
        text-decoration: none;
        color: #245a5c;
    }

        div.post a:hover
        {
            color: #fff;
            background-color: #245a5c;
        }

    div.post div.publishDate {
        float:left;
        font-family:Consolas;
        text-align:center;
        border:1px solid #7e0000;
        border-radius:5px;
    }

    div.post div.publishYear {
        font-size:0.8em;
        padding:0;
        background-color:#7e0000;
        border-bottom:1px dashed #fffca8;
        color:#fffca8;
    }

    div.post div.publishDay {
        font-size:0.9em;
        padding:2px;
        color:#7e0000;
        font-weight:bold;
        width:40px;
    }

div.postContent
{
    font-size: 1em;
    word-spacing: 2px;
    line-height: 130%;
}

h1, .title
{
    font-family: 'Microsoft YaHei', 'Segoe UI', Segoe, Helvetica;
    word-wrap: normal;
    font-size: 2em;
    line-height: 110%;
    font-weight: normal;
    word-spacing: 2px;
    color: #2778ec;
    padding-bottom: 4px;
    margin-bottom: 12px;
}

pre.code
{
    font-family: Consolas, Courier New;
    font-size: .8em;
    min-width: 700px;
    margin: 0;
    padding: 5px 10px;
    background-color: #eeeeee;
    overflow: hidden;
}

pre.commentCode
{
    font-family: Consolas, Courier New;
    font-size: .8em;
    margin: 0;
    padding: 5px 10px;
    overflow: hidden;
}


.postMeta
{
    color: #999;
    padding-bottom: 5px;
    margin-top:20px;
    font-size:13px;
}

    .postMeta span {
        margin-right:20px;
    }

/* Post - comment related styles */
#commentCounts {
    padding:10px 0 10px 5px;
    border-bottom:1px solid #bbb;
}

.commentContent {
    clear:both;
}

.commentImage {
    float:left;
    width:50px;
    height:50px;
    margin:20px;
}
    .commentImage img {
        width:50px;
        height:50px;
    }

.commentHeader
{
    padding: 15px 0 0 80px;
}

.comment
{
    border-bottom: dashed 1px #bbb;
    padding: 0 20px 0 90px;
    font-size: 1em;
}

    .comment p {
        margin-top:10px;
        line-height:1.6em;
        font-size:0.9em;
    }


.authorBg
{
}


.textBox, input[type=text]
{
    font-family: 'Microsoft YaHei', Verdana;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 4px;
}

    input[type=text]:focus
    {
        border: 2px solid #99f;
    }


.ModalWindow
{
    font-family: 'Microsoft YaHei', 'Segoe UI','Lucida Grande',Verdana;
    font-size: 1em;
    color: black;
    clear:both;
}

    .ModalWindow fieldset > div
    {
        padding: 3px 6px;
    }

    .ModalWindow div.ModalTitle
    {
        padding: 0px;
        width: 100%;
        text-align: center;
        background: #99ff99;
        font-size: 1.2em;
        font-weight: bold;
    }

    .ModalWindow .button {
        margin-top:20px;
        text-align:left;
    }

        .ModalWindow .button a {
            padding:5px 10px 5px 10px;
            border:1px solid #999;
            border-radius:5px;
        }

div.button
{
    text-align: center;
}

.successMessage
{
    color: Navy;
    font-weight: bold;
}

#commentResult
{
    color: Red;
}

/* End Post Control Styles */

/* Other pages */

div.content
{
    font-family: 'Microsoft YaHei', 'Segoe UI','Lucida Grande',Verdana;
    font-size: 1em;
    margin-top:20px;
    width:90%;
    border-bottom:1px dashed #7e0000;
}

    div.content a, div.content a:visited
    {
        text-decoration: underline;
        color: #00f;
    }

        div.content a:hover
        {
            color: #f00;
        }



.caption
{
    font-family: 'Microsoft YaHei', 'Segoe UI', Segoe;
    font-size: 2em;
    color: #7e0000;
    padding-bottom:3px;
}


div.success
{
    color: Navy;
    text-align: center;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* End Style for validation helpers */


.muted {
    color:#999;
}

.bshare-custom {
    display:inline;
}

    .bshare-custom a {
        margin-top:-4px;
    }
