@{
    this.ViewBag.Title = "LiteBlog";
    this.Layout = "~/Views/Shared/_SiteLayout.cshtml";

}

<div class="content">
    <h1>LiteBlog (MVC)</h1>
        
    <p>
        LiteBlog is a light weight blog engine designed to help integrate a blog 
        into your existing .Net website. It has a good object oriented model of the 
        core blog engine and can be extended easily. It is completely XML based and will
        not require any database configuration. 
    </p>
    <p>For download information and source code, please visit <a href="http://liteblog.codeplex.com">http://liteblog.codeplex.com</a></p>    
</div>
