<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="LiteBlog.XmlLayer"></assembly>
    <assembly name="LiteBlog.Common"></assembly>
    <containers>
      <container name="main">
        <register type="LiteBlog.Common.Contracts.IDataContext" mapTo="LiteBlog.XmlLayer.DataContext">
          <constructor>
            <param name="path" type="string"></param>
          </constructor>
        </register>
        <register type="LiteBlog.Common.Contracts.ICacheContext" mapTo="LiteBlog.XmlLayer.CacheContext"></register>
      </container>
    </containers>
  </unity>

  <appSettings>
    <add key="DateFormat" value="yyyy年MM月dd日 HH:mm:ss" />
    <add key="DefaultPostCount" value="5" />
    <add key="CommentModeration" value="False" />
    <add key="DefaultPassword" value="admin" />
    <add key="TimeZone" value="India Standard Time" />
    <add key="DataPath" value="C:\Users\zdy\Documents\GitHub\PickupBlog\MvcLiteBlog\App_Data\" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
  </appSettings>

  <system.web>



    <!--<httpHandlers>
      <add path="*" verb="*" type="System.Web.HttpNotFoundHandler"/>
    </httpHandlers>-->

    <!--
        Enabling request validation in view pages would cause validation to occur
        after the input has already been processed by the controller. By default
        MVC performs request validation before a controller processes the input.
        To change this behavior apply the ValidateInputAttribute to a
        controller or action.
    -->
    
    
    <pages buffer="true"
        validateRequest="false"
        pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <controls>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
        <add namespace="LiteBlog.Common"/>
        <add namespace="MvcLiteBlog.Models" />
      </namespaces>
    </pages>


    <sessionState mode="InProc" timeout="60"></sessionState>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Admin" defaultUrl="~/Post/Compose" timeout="30" slidingExpiration="true">
      </forms>
    </authentication>
    <!--<authorization>
      <allow users="?"/>
    </authorization>-->
    <anonymousIdentification enabled="true" />

    <httpRuntime requestValidationMode="2.0"/>
    <membership defaultProvider="XmlMemProv" userIsOnlineTimeWindow="30">
      <providers>
        <clear/>
        <add name="XmlMemProv" type="LiteBlog.XmlProviders.XmlMembershipProvider, LiteBlog.XmlProviders, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="XmlProfProv" inherits="MvcLiteBlog.Helpers.CustomProfile">
      <providers>
        <clear/>
        <add name="XmlProfProv" type="LiteBlog.XmlProviders.XmlProfileProvider, LiteBlog.XmlProviders, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </providers>
      <!--<properties>
        <add name="DisplayName" allowAnonymous="true"/>
        <add name="IPAddress" allowAnonymous="true"/>
        <add name="Url" allowAnonymous="true"/>
      </properties>-->
    </profile>
    <customErrors mode="Off"></customErrors>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="UrlRewrite" type="LiteBlog.BlogEngine.UrlRewrite,MvcLiteBlog"/> -->
    </modules>

  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="4.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
          <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
        </dependentAssembly>
      </assemblyBinding>
    </assemblyBinding>
  </runtime>

</configuration>
