@model Post

@{
    this.ViewBag.Title = this.Model.Title+"_[皮卡网志]";
    this.Layout = "~/Views/Shared/_SiteLayout.cshtml";

}

@section ScriptSection
{
    <script src='@this.Url.Content("~/Scripts/ckeditor.js")' type="text/javascript"></script>
    <script src='@this.Url.Content("~/Scripts/jquery-ckeditor.js")'  type="text/javascript"></script>
    <script src='@this.Url.Content("~/Scripts/comment-new.js")' type="text/javascript"></script>
}

@{ this.Html.RenderPartial("PostDetailControl"); }
@*<div id="commentForm">
    @{ this.Html.RenderAction("CommentFormControl", "Comment"); }
</div>*@

