@model List<PostInfo>

@{
    this.ViewBag.Title = "管理文章_[皮卡网志]";
    this.Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@section ScriptSection
{
    <script type="text/javascript">
        $(document).ready(
            function() {

            });

    </script>
}

<div id="main">
    <h1>管理文章</h1>
    <div class="success">
        @this.TempData["Message"]
    </div>
    
    @{
        var grid = new WebGrid(this.Model, canSort: false, rowsPerPage: 10);

    }


    @grid.GetHtml(columns: grid.Columns(grid.Column(string.Empty, "编辑", (item) => this.Html.ActionLink("编辑", "Compose", "Post", new { id = item.FileID }, null), "postLinkStyle"), grid.Column(string.Empty, "删除", (item) => this.Html.ActionLink("删除", "Delete", "Post", new { id = item.FileID }, null), "postLinkStyle"), grid.Column(string.Empty, "发布日期", (item) => item.Time.ToString(MvcLiteBlog.Helpers.ConfigHelper.DateFormat, System.Globalization.CultureInfo.InvariantCulture), "postDateStyle"), grid.Column(string.Empty, "标题", (item) =>
        {
            if (string.IsNullOrEmpty(item.Title))
            {
                return this.Html.ActionLink("没有标题", "Index", new { id = item.FileID });
            }
            else
            {
                return this.Html.ActionLink((string)item.Title, "Index", new { id = item.FileID });
            }
        }, "postTitleStyle"), grid.Column(string.Empty, "所属分类", (item) =>
            {
                string cat = string.Empty;
                foreach (string category in item.Categories)
                {
                    cat += MvcLiteBlog.BlogEngine.CategoryComp.GetCategoryName(category) + "<br />";
                }

                return this.Html.Raw(cat);
            }, "postCatStyle")), tableStyle: "GridContent", headerStyle: "GridHeader", rowStyle: "gridRowStyle", alternatingRowStyle: "gridAltRowStyle")

   

</div>


