@model List<PostInfo>

@{
    this.ViewBag.Title = "管理草稿_[皮卡网志]";
    this.Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@section ScriptSection
{
    <script type="text/javascript">
        $(document).ready(
            function() {

            });

    </script>
}

<div id="main">
    <h1>管理草稿</h1>  
    <div class="success">
        @this.TempData["Message2"]
    </div>

    @{
        var grid = new WebGrid(this.Model, canSort: false);

    }


    @grid.GetHtml(columns: grid.Columns(grid.Column(string.Empty, "编辑", (item) => this.Html.ActionLink("编辑", "Compose", "Post", new { id = item.FileID }, null), "draftLinkStyle"), grid.Column(string.Empty, "删除", (item) => this.Html.ActionLink("删除", "DeleteDraft", "Post", new { id = item.FileID }, null), "draftLinkStyle"), grid.Column(string.Empty, "创建日期", (item) => item.Time.ToString(MvcLiteBlog.Helpers.ConfigHelper.DateFormat, System.Globalization.CultureInfo.InvariantCulture), "draftDateStyle"), grid.Column("Title", "标题", null, "draftTitleStyle")), tableStyle: "GridContent", headerStyle: "GridHeader", rowStyle: "gridRowStyle", alternatingRowStyle: "gridAltRowStyle")

  
</div>


