@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>皮卡工作室</title>
    <meta name="keywords" content="皮卡,皮卡工作室,Pickup,Pickup Studio,RememberIt,Kinver,zdybit,LPraYer,宽厚,逢冬飘雪" />
    <meta name="description" content="皮卡工作室关注和收集泛互联网行业的前沿动态，并将新鲜的想法转化为产品。" />
    <link rel="icon" type="image/x-icon" href="~/Content/le-frog/images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/le-frog/images/favicon.ico" />
    <link href="~/Content/Pickup.css" rel="stylesheet" />
    <script src='@this.Url.Content("~/Scripts/jquery-1.6.2.min.js")' type="text/javascript"></script>
    <script src='@this.Url.Content("~/Scripts/jquery.scrollto.js")' type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#goto-products').bind('click', function () {
                $('#products').ScrollTo(500);
            });
            $('#goto-about').bind('click', function () {
                $('#about').ScrollTo(500);
            });
            $('#goto-studio-members').bind('click', function () {
                $('#studio-members').ScrollTo(500);
            });

            $(window).scroll(function () {
                var vtop = $(document).scrollTop();
                
                if (vtop > 261) {
                    $('#tb-global').show();
                    $('#navbar-bottomline').hide();
                    $('#navbar-shadow').hide();
                }
                else {
                    $('#tb-global').hide();
                    $('#navbar-bottomline').show();
                    $('#navbar-shadow').show();
                }
            });
        });
    </script>
</head>
<body>
    <div id="page">
        <div id="header" class="nav-fixed-top">
            <div class="align-center">
                <ul>
                    <li><a id="goto-about" href="#about">关于皮卡</a></li>
                    <li><a id="goto-products" href="#products">产品</a></li>
                    <li><a id="goto-studio-members" href="#studio-members">成员</a></li>
                    <li><a href="./blog/">网志</a></li>
                </ul>
            </div>
        </div>
        <div id="navbarshadows" class="navbarshadows-fixed-top">
            <div class="align-center">
                <!--导航栏底栏-->
                <div id="navbar-bottomline"></div>
                <!--导航栏阴影-->
                <div id="navbar-shadow"></div>
            </div>
            <!--滚动超过logo和slogan之后的导航栏底栏-->
            <div id="tb-global" class="title-bottomline" style="display:none;"></div>
            @*
            <!--滚动超过logo和slogan之后的导航栏阴影-->
            <div id="fs-global" class="full-shadow" style="display:none;"></div>
            *@
        </div>
        <div id="middle">
            <div id="logo">
                <div class="align-center">
                    <h1>皮卡工作室</h1>
                    <div id="slogan"></div>
                </div>
                <div class="title-bottomline"></div>
            </div>

            <div id="about" class="area">
                <div class="align-center">
                    <h2>『关于皮卡』</h2>
                    <div id="spirits">
                        <h3>皮卡精神</h3>
                        <ul>
                            <li><span id="free" class="spirit">自由</span><span class="muted">转化新鲜的想法</span></li>
                            <li><span id="efficiency" class="spirit">高效</span><span class="muted">轻巧且实用</span></li>
                            <li><span id="comfortable" class="spirit">舒适</span><span class="muted">关注用户体验</span></li>
                        </ul>
                        <div class="description">
                            <p>
                                皮卡工作室成立于2012年的末日之后。
                            </p>
                            <p>
                                我们崇尚皮卡车的自由、高效和舒适，遂凭其名，愿践其意。
                            </p>
                            <p>
                                我们会持续关注和收集泛互联网行业的前沿动态，并将新鲜的想法转化为产品。
                            </p>
                            <p>
                                我们致力于生产轻巧且实用的软件产品， 同时提供良好的用户体验。
                            </p>
                            <p>
                                我们希望可以在积累和实践中分享一丝快乐，收获一份成长。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="products" class="area">
                <div class="align-center">
                    <h2>『皮卡产品』</h2>
                    <div id="rememberit" class="product">
                        <h3><img class="product-logo" src="~/Content/le-frog/images/rememberitLogo.png" />RememberIt!</h3>
                        <div class="description">
                            <p>
                                一款帮助用户记忆东西的应用。<a href="http://apps.microsoft.com/windows/zh-CN/app/rememberit/aa5edf48-43c4-4745-a011-10dfea792e9b">Windows8应用商店地址</a>
                            </p>
                            <p>
                                应用的工作原理基于Hermann Ebbinghaus于19世纪发现的描述人类记忆遗忘规律的“遗忘曲线”。
                            </p>
                            <p>
                                它可以以问答的形式帮助你在最适合的时间进行复习，并根据你对记忆情况的反馈自动调整复习频率，最终使复习内容成为你记忆中的一部分。
                            </p>
                        </div>
                        <div class="pics">
                            <div class="pic">
                                <img src="~/Content/le-frog/images/rememberit1.png" />
                            </div>
                            <div class="pic">
                                <img src="~/Content/le-frog/images/rememberit2.png" />
                            </div>
                            <div class="pic">
                                <img src="~/Content/le-frog/images/rememberit3.png" />
                            </div>
                        </div>
                    </div>
                    <div id="kinver" class="product">
                        <h3><img class="product-logo" src="~/Content/le-frog/images/kinverLogo.png" />Kinver</h3>
                        <div class="description">
                            <p>
                                北京景悦锦辰贸易有限公司官方网站。<a href="http://www.kinver.com.cn">网站地址</a>
                            </p>
                            <p>
                                Kinver致力于为中国消费者提供来自全球的优质食品。
                            </p>
                        </div>
                        <div class="pics">
                            <div class="pic">
                                <img src="~/Content/le-frog/images/kinver1.png" />
                            </div>
                            <div class="pic">
                                <img src="~/Content/le-frog/images/kinver2.png" />
                            </div>
                            <div class="pic">
                                <img src="~/Content/le-frog/images/kinver3.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="studio-members" class="area">
                <div class="align-center">
                    <h2>『皮卡成员』</h2>
                    <div class="members">
                        <div id="zdybit" class="member">
                            <div class="photo">
                                <img class="img-circle" src="~/Content/le-frog/images/Photozdybit.jpg"/>
                                <div class="name"><div>宽厚</div></div>
                            </div>
                            <div class="intro">
                                <table>
                                    <tr title="工作内容">
                                        <td>
                                            <img src="~/Content/le-frog/images/role.png" />
                                        </td>
                                        <td>
                                            开发攻城师兼产品社稷师
                                        </td>
                                    </tr>
                                    <tr title="爱好">
                                        <td>
                                            <img src="~/Content/le-frog/images/hobby.png" />
                                        </td>
                                        <td>
                                            热爱科幻小说、历史、古典音乐
                                        </td>
                                    </tr>
                                    <tr title="座右铭">
                                        <td>
                                            <img src="~/Content/le-frog/images/motto.png" />
                                        </td>
                                        <td>
                                            宇宙，人类最后的边疆。这是星舰‘企业号’的航程。它继续的任务，是去探索未知的新世界，找寻新的生命和新的文明，勇敢地航向前人所未至的领域。 <span class="muted">——星际迷航</span>
                                        </td>
                                    </tr>
                                    <tr title="Say Hi">
                                        <td>
                                            <img src="~/Content/le-frog/images/contact.png" />
                                        </td>
                                        <td>
                                            <span class="sinaweibo">
                                                <a href="http://www.weibo.com/zdybit">新浪微博</a>
                                            </span>
                                            <span class="douban">
                                                <a href="http://www.douban.com/people/zdybit/">豆瓣</a>
                                            </span>
                                            <span class="mailaddress">
                                                邮箱：zdy_bit[AT]163.com
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="LPraYer" class="member">
                            <div class="photo">
                                <img class="img-circle" src="~/Content/le-frog/images/PhotoLPraYer.jpg"/>
                                <div class="name"><div>LPraYer</div></div>
                            </div>
                            <div class="intro">
                                <table>
                                    <tr title="工作内容">
                                        <td>
                                            <img src="~/Content/le-frog/images/role.png" />
                                        </td>
                                        <td>
                                            产品社稷师兼开发攻城师
                                        </td>
                                    </tr>
                                    <tr title="爱好">
                                        <td>
                                            <img src="~/Content/le-frog/images/hobby.png" />
                                        </td>
                                        <td>
                                            喜欢踢球、骑行、桌游、后摇和冷面
                                        </td>
                                    </tr>
                                    <tr title="座右铭">
                                        <td>
                                            <img src="~/Content/le-frog/images/motto.png" />
                                        </td>
                                        <td>
                                            知行<br /><span class="muted">——北京交通大学校训</span>
                                        </td>
                                    </tr>
                                    <tr title="Say Hi">
                                        <td>
                                            <img src="~/Content/le-frog/images/contact.png" />
                                        </td>
                                        <td>
                                            <span class="sinaweibo">
                                                <a href="http://www.weibo.com/LPraYer/">新浪微博</a>
                                            </span>
                                            <span class="douban">
                                                <a href="http://www.douban.com/people/LPraYer/">豆瓣</a>
                                            </span>
                                            <span class="mailaddress">
                                                邮箱：lvpeiyuan[AT]gmail.com
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="ZhangYC" class="member">
                            <div class="photo">
                                <img class="img-circle" src="~/Content/le-frog/images/PhotoZhangYC.jpg"/>
                                <div class="name"><div>逢冬飘雪</div></div>
                            </div>
                            <div class="intro">
                                <table>
                                    <tr title="工作内容">
                                        <td>
                                            <img src="~/Content/le-frog/images/role.png" />
                                        </td>
                                        <td>
                                            产品社稷师
                                        </td>
                                    </tr>
                                    <tr title="爱好">
                                        <td>
                                            <img src="~/Content/le-frog/images/hobby.png" />
                                        </td>
                                        <td>
                                            热爱历史、考古
                                        </td>
                                    </tr>
                                    <tr title="座右铭"  style="height:44px;">
                                        <td>
                                            <img src="~/Content/le-frog/images/motto.png" />
                                        </td>
                                        <td>
                                            人不怕走在黑夜里，就怕心中没有阳光。
                                        </td>
                                    </tr>
                                    <tr title="Say Hi">
                                        <td>
                                            <img src="~/Content/le-frog/images/contact.png" />
                                        </td>
                                        <td>
                                            <span class="sinaweibo">
                                                <a href="http://weibo.com/u/1785140031">新浪微博</a>
                                            </span>
                                            <span class="mailaddress">
                                                邮箱：bingzi868[AT]163.com
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="footer">
            <div>
                &copy; 2012 皮卡工作室
            </div>
        </div>
    </div>
    <div style="display:none">
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write('<div style="display:none">' + unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff1c27a1f5e4ddd21285a8a21e0ba3f8e' type='text/javascript'%3E%3C/script%3E") + '</div>');
        </script>
    </div>
</body>
</html>
