@model List<PostInfo>

@{
    this.ViewBag.Title = "Home page";
    this.Layout = "~/Views/Shared/_SiteLayout.cshtml";

}

@section ScriptSection
{
    @*<script src='@this.Url.Content("~/Scripts/ckeditor.js")' type="text/javascript"></script>
    <script src='@this.Url.Content("~/Scripts/jquery-ckeditor.js")'  type="text/javascript"></script>
    <script src='@this.Url.Content("~/Scripts/comment.js")' type="text/javascript"></script>*@
}

@foreach (PostInfo postInfo in this.Model)
{
    this.Html.RenderAction("PostControl", "Post", new { id = postInfo.FileID });
} 
@*
<div id="commentForm">
    @{ this.Html.RenderAction("CommentFormControl", "Comment"); }
</div>*@

